// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

$bg-clr: #0a0c1b;
$primary: #1c1938;
$secondary: #aa5cdb;
$white: #fff;
$tint-w: #58566d;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

// font-family: 'Inter', sans-serif;
// font-family: 'Lexend Deca', sans-serif;

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $bg-clr;
  font-family: "Lexend Deca", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: $white;
}

.attribution a {
  color: $secondary;
}

.wrapper {
  background: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  border-radius: 10px;
  animation: slide 1.5s ease-in-out 0.4s;
}

.wrapper > * {
  flex: 1 0;
}

.image {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    background: #9a2ddd;
    border-radius: 0 10px 10px 0;
  }

  img {
    width: 100%;
    border-radius: 0 10px 10px 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  // align-items: left;
  gap: 2rem;
  padding: 3rem;

  .heading {
    font-size: 2em;
    font-weight: bold;
    color: $white;
    line-height: 1.5;
    letter-spacing: 2px;

    span {
      color: $secondary;
    }
  }

  .sub-text {
    color: $tint-w;
    font-size: 1em;
    margin-bottom: 1.7rem;
  }

  .stats-w {
    display: flex;
    gap: 2rem;
    font-family: "Inter", sans-serif;

    .stats-c {
      //   text-align: center;
      .stats {
        font-size: 1.5em;
        font-weight: bold;
        color: $white;
        margin-bottom: 0.3em;
      }

      .stats-l {
        color: $tint-w;
        font-size: 0.8em;
        text-transform: uppercase;
      }
    }
  }
}

// @media only screen and (max-width: 375px) {
//   .wrapper {
//     flex-direction: column-reverse;
//     gap: 1rem;
//   }
// }

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    flex-direction: column-reverse;
    margin: 2rem;

    .image {
      &::before {
        border-radius: 10px 10px 0 0;
      }

      img {
        border-radius: 10px 10px 0 0;
      }
    }

    .content {
      gap: 1rem;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;

      .heading,
      .sub-text {
        text-align: center;
      }

      .heading {
        font-size: 1.6em;
      }
      .sub-text {
        font-size: 0.8em;
        margin-bottom: 0.3rem;
      }

      .stats-w {
        flex-direction: column;
        margin-top: 1rem;

        .stats-c {
          text-align: center;

          .stats {
            font-size: 1.2em;
          }
          .stats-l {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1150px) {
  .wrapper {
    width: 1050px;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    // transform: scale(0);
    transform: translateX(-100%);
  }

  50% {
    opacity: 1;
    transform: translateX(200px);
    // transform: scale(01.5) rotate(270deg);
  }

  100% {
    opacity: 1;
    // transform: scale(1);
    transform: translateX(0);
  }
}
